@charset "UTF-8";
body {
  color: #333;
  font: 14px/1.8em "游ゴシック", "Yu Gothic", "YuGothic", Arial, Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Roboto, "Droid Sans", Meiryo, "ＭＳ Ｐゴシック","MS PGothic", sans-serif;
}
h1, h2, h3, h4, h5, h6, p, dl {
  margin: 0;
}

dd {
  margin-left: 0;
}


ul {
  margin: 0;
  padding-left: 0;

  li {
    list-style: none;
  }
}
p {
  margin: 0;
}
a {
  color: #333;
  text-decoration: none;
}
.clearfix {
    &:before {
      content: " ";
      display: table;
   }
    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    *zoom: 1;
}
img {
  vertical-align: middle;
}
